<!DOCTYPE html>
<html>
  <head>
    <title>Website Interpretor</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width. initial-scale=1"/>
    
   
  </head>
  <body>
    <div></div>
      <h1>Website Interpretor</h1>
      
      <p>This site interprets the page you have given.You can enter the url of the page which you want interpreted</p>
      <h3 style="color: rgb(120, 120, 120); margin-bottom: 4px;">Enter url below</h3>
      <div>
        <input type="text" placeholder="url" style="margin-bottom: 4px;">
      </div>
      <button>Submit</button>
    
    </div>
    <div>
      {% for job in jobs %}
      <div>
        <h3 style="margin-bottom: 2px;">{{job['role']}}</h3>
        <div><b>Description:</b>{{job['description']}}</div>
        <div><b>Experience:</b>{{job['experience']}}</div>
        <div><b>Skills:</b>{% for skill in job['skills'] %} {{skill}}, {% endfor %}</div>
        
      </div>
      {% endfor %}
    </div>    
  </body>
</html>